* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #282828;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
}

a {
  color: #282828;
  text-decoration: underline;
  font-weight: 500;
}

a.button {
  background: linear-gradient(to right, #e052a0, #f15c41);
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 32px;
  transform: translateY(-2px);
  text-decoration: none;
  border: 0;
  text-align: center;
}

a.button:hover {
  background: linear-gradient(to right, #3ec7e0, #526bf4);
}

header h1 {
  margin: 32px 0 24px 0;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

header p {
  font-size: 22px;
  line-height: 36px;
}

section {
  margin: 48px auto;
}

section h2,
section h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

section h3 {
  font-size: 20px;
}

section p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

section.main {
  text-align: center;
}

@media (min-height: 768px) {
  body {
    margin-top: 40px;
  }
}

section.join ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 568px) {
  section.join ul {
    max-height: 32px;
  }
}

section.join ul li {
  display: inline-block;
  padding: 0;
  margin: 0 32px 0 0;
}

@media (max-width: 568px) {
  section.join ul li {
    display: block;
    margin: 0 0 16px 0;
  }
}

section.join ul li img {
  max-height: 32px;
  padding-right: 8px;
}

section.join ul li a {
  display: flex;
  align-items: center;
}

section.partners img {
  max-height: 64px;
}
